<% if(element == '') { %>
<div class="column-region">
    <div class="span4 col-box" id="box_4">
        <div class="col-box-options">
            <a href="#"><i class="icon-edit"></i></a>
            <a href="#"><i class="icon-asterisk settings-options" data-id="4"></i></a>
            <a href="#"><i class="icon-remove remove-me"></i></a>
        </div>

        <a href="javascript:void(0);" class="btn btn-success add-element btn-mini js-add-element" data-id="4"><i class="icon-plus"></i> Add Element</a>
    </div>
</div>
<% }else{ %>
    <div class="js-element-region">
        <div class="span4 col-box" id="box_4">
            <div class="col-box-options">
                <a href="#"><i class="icon-edit"></i></a>
                <a href="#"><i class="icon-asterisk settings-options" data-id="4"></i></a>
                <a href="#"><i class="icon-remove remove-me"></i></a>
            </div>
            <div class="text-content">
                <%= element.get('content') %>
            </div>
        </div>
    </div>
<% } %>

